@use '../../../../../assets/styles/variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

button {
  text-transform: capitalize;
  border-color: transparent;
  padding: 3px;
  background-color: transparent;
  color: white;
  font-family: inherit;
  width: 40%;
  text-align: start;
  font-size: 17px;
}
