@use '/src/assets/styles/variables' as *;

section {
    width: 100%;
    background-color: $path-section-bg;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.path {
    padding: 0 20px;
    font-size: 20px;
    color: $black-text-color;
}