.form {
    display: flex;
    flex-direction: row;
    width: 11%;
    justify-content: space-between;
    min-width: 220px;
    
}

.select {
    border-color: transparent;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    padding: 1px 0;
}

