@use '../../../../../assets/styles/variables.scss' as *;

.inputContainer {
    width: 100%;
    
}

.input {
    font-family: inherit;
    background-color: $grey-bg;
    border-color: transparent;
    padding: 5px 5px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 18px;
    width: 180px;
}