@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap');


$main-bg-color: #FFF;
$text-color: #324d67;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $main-bg-color;
  color: $text-color;
  padding: 20px;
  font-family: 'Golos Text', sans-serif;
}

h1 {
  margin-bottom: 20px;
}
