$black-text-color: black;
$black-bg: #131516;
$second-black-bg: rgb(35, 38, 40);
$blue-text: rgb(159, 186, 208);
$neutral-text: #d8d4cf;
$grey-bg: #f1f5f8;
$price-color: #ab7a5f;

/* PATH SECTION */
$path-section-bg: #eaded7;

/* VALUES */
$main-content-size: 80%;
$min-width-content: 900px;
$border-radius: 5px;
