$black-text-color: black;
$black-bg: #131516;
$second-black-bg:rgb(35, 38, 40);
$blue-text: rgb(159, 186, 208);
$neutral-text: #d8d4cf;
$grey-bg: #f1f5f8;


/* PATH SECTION */
$path-section-bg: #eaded7;

